p {
  text-align: center;
  color: red;
}

.work {
  display: box;
}

.work figure img {
  margin: auto;
  text-align: center;
  display: block;
  width: 550px;
  height: 450px;
  margin-bottom: 30px;
  justify-content: center;
  box-shadow: black 0 0 10px;
}





