p {
  text-align: center;
  color: red;
}

.work img {
  margin: auto;
  text-align: center;
  display: flex;
  /* width: 550px; */
  width: 60%;
  height: 450px;
  margin-bottom: 30px;
  justify-content: center;
  box-shadow: black 0 0 10px;
  border-radius: 8px;
}

.work img:hover {
transform: scaleX(-1);
}



